.App{
    position:fixed;
    top: 0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    .app_route{
       width: 100%;
       overflow: auto;
       flex: 1;
       position: relative;
       .route_content{
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .route_scroll{
            flex: 1;
            overflow: auto;
        }
       }
    }
    .am-tab-bar-tab{
        p{
             margin:3px 0 0 0 !important;
        }
    }
}