.App{
    position:fixed;
    top: 0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    .app_route{
       width: 100%;
       flex: 1;
       position: relative;
       .route_content{
        height: 100%
       }
    }
}